@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
	font-weight: 400;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
	font-weight: 500;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
	font-weight: 700;
}

:root {
	--light-grey: #EEEEEE;
	--grey: #4D4D4D;
	--dark-grey: #283136;
	--light-red: #FB565A;
	--red: #E74246;
	--dark-red: #D7373B;
	--light-green: #00CA74;
	--green: #00BC6C;
	--dark-green: #00AA62;
	--light-yellow: #EFC849;
	--yellow: #EAB534;
	--dark-yellow: #E5A722;
	--black: #000000;
	--background-grey: #888888;
	--white: #FFFFFF;
	--grey-grey: #444444;
	--grey-ultra: #666666;
	--grey-active: #DFDFDF;
	--grey-hover: #D5D5D5;
	--grey-one: #DBDBDB
}

.page {
	height: 100%;
}

.page-body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: var(--black);
	background-color: var(--white);
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

.container-grey {
	background-color: var(--light-grey);
	margin-bottom: 155px;
}

.main-header {
	background-color: var(--light-grey);
	outline: 5px solid var(--dark-green);
	outline-offset: -5px;
	margin-bottom: 80px;
}

a {
	text-decoration: none;
}

.clear-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.container {
	width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

.main-navigation {
	display: grid;
	justify-content: stretch;
	font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;
}

.main-navigation a {
	color: var(--black);
}

.main-navigation a:hover {
	color: var(--light-red);
}

.main-navigation a:active {
	color: var(--black);
}

.main-navigation-wrapper {
	display: grid;
	grid-template-columns: 300px 1fr min-content;
	width: 1160px;
	padding: 0 20px;
}

.main-header-logo {
	outline: 5px solid var(--red);
	outline-offset: -5px;
	width: 160px;
	height: 49px;
}

.main-header-logo:hover {
	opacity: 0.7;
}

.main-header-logo:active {
	opacity: 0.3;
}

.site-navigation {
	outline: 5px solid var(--light-yellow);
	outline-offset: -5px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 9px;
}

.caption {
	display: none;
}

.slogan {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: var(--black);
}

.text {
	color: var(--dark-grey);
}

.text-slogan {
	padding-bottom: 38px;
}

.suggestions {
	outline: 5px solid var(--dark-grey);
	width: 1100px;
}

.suggestions-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 100px;
	margin-bottom: 80px;
	}

.suggestions-item {
	outline: 5px solid var(--grey-ultra);
	outline-offset: -5px;
}

.suggestions-text{
	padding-bottom: 32px;
}

.subtittle {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 700;
}

.button {
	color: var(--white);
	text-transform: uppercase;
	background-color: var(--light-red);
	vertical-align: middle;
	border: none;
	text-decoration: none;
	line-height: 18px;
	font-weight: 500;
	padding: 17px 40px 15px 39px;
}

.button-info {
	padding: 17px 54px 15px 54px;
}

.button-contact {
	padding: 17px 44px 15px 44px;
}

.button-green {
	background-color: var(--light-green);
}

.button-yellow {
	background-color: var(--light-yellow);
}

.button:hover {
	background-color: var(--red);
}

.button-green:hover {
	background-color: var(--green);
}

.button-yellow:hover {
	background-color: var(--yellow);
}

.button:active {
	background-color: var(--dark-red);
}

.button-green:active {
	background-color: var(--dark-green);
}

.button-yellow:active {
	background-color: var(--dark-yellow);
}

.button-price {
	padding: 17px 72px 15px 72px;
}

.index-columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	outline: 5px solid var(--dark-green);
	width: 1174px;
}

.features {
	outline: 5px solid var(--dark-yellow);
}

.desc {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
}

.orders {
	text-transform: uppercase;
	color: var(--dark-grey);
	font-weight: 700;
	margin-right: 149px;
}

.orders-list {
	color: var(--dark-grey);
}

.guarantees {
	outline: 5px solid var(--yellow);
	justify-self: end;
}

.guarantees-slogan {
	text-transform: uppercase;
	font-weight: 700;
}

.guarantees-list {
	display: flex;
	justify-content: space-between;
}

.guarantees-item {
	font-size: 45px;
	line-height: 64px;
	color: var(--black);
	font-weight: 700;
}

.percent {
	font-size: 26px;
	line-height: 40px;
}

.guarantees-text {
	color: var(--dark-grey);
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
}

.clients {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	outline: 5px solid var(--light-green);
}

.client-logo {
	opacity: 0.2;
}

.client-logo:hover {
	opacity: 1;
}

.client-logo:active {
	opacity:  0.1;
}

.inglish-name {
	font-size: 18px;
	line-height: 30px;
	color: var(--black);
	text-transform: uppercase;
	font-weight: 700;
}

.main-footer {
	outline: 5px solid var(--dark-red);
	outline-offset: -5px;
	margin-top: 80px;
	padding: 74px 0;
}

.contacts {
	outline: 5px solid var(--light-yellow);
}

.footer-adress {
	line-height: 18px;
	color: var(--grey-ultra);
}

.contact-phone {
	text-decoration: none;
	line-height: 18px;
	color: var(--grey-ultra);
}

.container-footer {
	display: grid;
	grid-template-columns: 1fr 2fr;
	outline: 5px solid var(--black);
}

.friend {
	font-size: 36px;
	line-height: 36px;
	color: var(--black);
	font-weight: 700;
}

.sale {
	line-height: 22px;
	color: var(--grey-grey);
}

.friend-sale {
	outline: 5px solid var(--light-green);
	order: 2;
	width: 660px;
}

.footer-social {
	outline: 5px solid var(--light-red);
	width: 245px;
	display: flex;
	justify-content: space-between;
}

.subheading {
	visibility: hidden;
}

.catalog {
	margin: 0;
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
}

.container-catalog {
	padding-bottom: 180px;
}

.header-catalog {
	margin-bottom: 55px;
}

.page-catalog {
	display: grid;
	grid-template-columns: 260px min-content 1fr min-content;
	grid-template-rows: min-content 1fr min-content;
	column-gap: 140px;
}

.page-catalog-filter {
	outline: 5px solid var(--yellow);
	grid-row-start: 1;
	grid-row-end: 4;
}

.filter {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 30px;
	font-size: 18px;
}

.filter-list {
	color: var(--dark-grey);
	line-height: 20px;
}

.button-grey {
	background-color: var(--light-grey);
	color: var(--black);
	padding: 17px 89px 15px 88px;
}

.button-grey:hover {
	background-color: var(--grey-hover);
}

.button-grey:active {
	background-color: var(--grey-active);
}

.page-catalog .sorting-sites {
	text-transform: uppercase;
	line-height: 18px;
	outline: 5px solid var(--light-yellow);
	grid-column-start: 2;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: 2;
	margin-bottom: 48px;
}

.sorting {
	color: var(--black);
	opacity: 0.3;
	font-size: 14px;
}

.sorting:hover {
	opacity: 0.6;
}

.sorting:active {
	color: var(--black);
	opacity: 1;
	/*не понимаю, почему красный цвет при нажатии((*/
}

.product-cards {
	outline: 5px solid var(--dark-green);
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 41px;
	row-gap: 25px;
}

.products {
	grid-column-start: 2;
	grid-column-end: -1;
	grid-row-start: 2;
	grid-row-end: 3;
	margin-bottom: 55px;
}

.sample-sites {
	font-weight: 700;
	text-transform: uppercase;
	color: var(--black);
}

.sample-sites:hover {
	color: var(--light-red);
}

.sample-sites-text {
	color: var(--grey-ultra);
	line-height: 18px;
}

.price-card-background {
	background-color: var(--light-grey);
}

.pages {
	outline: 5px solid var(--grey-ultra);
	grid-row-start: 3;
	grid-row-end: -1;
	grid-column-start: 2;
	grid-column-end: -1;
	margin-bottom: 60px;
}

.main-footer-catalog {
	outline: 5px solid var(--dark-green);
	outline-offset: -5px;
}